body {
    margin: 0;
    color: #40514E;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}

p {
    font-size: 20px;
}

h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive
}

h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #66bfbf;
    font-size: 35px;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 240px;
    margin: 100px auto;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
}

.middle-container {
    margin: 100px 0;
}

.photo03 {
    width: 15%;
    border-radius: 400px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 3;
}

.photo01 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 3;
    padding-bottom: 190px;
}

.photo02 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 0 20px;
}

.btn {
    background: #3498db;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}